{% extends "MainBundle::layout.html.twig" %}
{% block title -%} Register {%- endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock body %}
