<footer id="foot-sec" style="background-position: 50% 43px;">
    <div class="container ">
        <div class="row">
            <div class="page-header text-center color-white col-sm-12 col-lg-12">
                <h3 style="padding-top:250px;">FOOTER SECTION</h3>
            </div>
        </div>

        <div class="row">
            <div class="text-center color-white col-sm-12 col-lg-12">
                <p>&copy; 2013 Build with <a href="http://www.bootstraptor.com" class="">www.bootstraptor.com</a></p>
            </div>
        </div>
    </div>
</footer>
