<nav role="navigation" class="navbar navbar-fixed-top navbar-default" id="topnav">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">PARALLAXER BS 3.0.</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#top-section">Home</a></li>
                <li><a href="#Section-1">Section-1</a></li>
                <li><a href="#Section-2">Section-2</a></li>
                <li><a href="#foot-sec">Footer</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
