<html ng-app>
<head>
    <title>{% block title %}{% endblock %} - Schedule Planner</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    {#<meta property="og:image" content="{% block meta_image %}{{ asset('bundles/main/images/schedule-icon.png') }}{% endblock %}" />#}

    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="icon" type="image/png" href="/favicon.png"/>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/main/css/bootstrap.css') }}" />
    {% endblock %}

    {% block javascripts %}
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ asset('bundles/main/js/bootstrap.min.js') }}"></script>

    {% endblock %}
</head>
<body>
{% block header %}
    {% include "MainBundle::header.html.twig" %}
{% endblock %}
{% block body %}
{% endblock %}

{% block footer %}
    {% include "MainBundle::footer.html.twig" %}
{% endblock %}
</body>
</html>